// Body
$body-bg: #f5f8fa;

// Navigation
$nav-bg: #5C93C6;
$nav-bg-gradient: linear-gradient(120deg, #4c7aa5, #6aaae4);
$nav-text-color: #fff;
$nav-button-gradient: linear-gradient(to right bottom, #A3E6F5 0%, #6AC8E8 65%, #6AC8E9 100%);
$nav-dropdown-bg: #fff;
$nav-dropdown-text-color: #A83256;

// Typography
$font-family-sans-serif: "Nunito", "Helvetica Neue", Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Colors
$brand-primary: #6AC8E9;
$brand-dark-primary: #5C93C6;
$brand-dark-blue: #324A8E;
$brand-orange: #FF6061;
$brand-red: #A83256;